<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Adicionando Cadastro de um Livro</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
</head>
<body>
	<h1>Cadastro de Livro</h1>
	<form th:action="@{/biblioteca}" th:object="${biblioteca}" method="POST">
		<label>Titulo</label>
		<input type="text" name="titulo" th:field="*{titulo}" required><br>
		<label>Autor</label>
		<input type="text" name="autor" th:field="*{autor}" required><br>
		<label>ISBN</label>
		<input type="text" name="isbn" th:field="*{isbn}" required><br>
		<label>Editora</label>
		<input type="text" name="editora" th:field="*{editora}" required><br>
		<input type="submit" value="salvar">
	</form>
		<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>
</html>